ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: 4rem;
    background: transparent;
    
}

li {
    float: left;
    margin: 0px 5px;
}

li > a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    font-size: 1.5em;
	font-weight: 600;
}

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  spam {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    font-size: 1.5em;
	font-weight: 600;
  }
.name{
    float: left;
}

.navbar {
    width: 75%;
    margin: auto;
    margin-top: 2rem;
}
